body {
  overflow-x: hidden;
  background-color: rgb(190, 214, 214);
}

.App {
  text-align: center;
  font-family: RooneySans-Regular,Lucida Grande,Lucida Sans Unicode,Trebuchet MS,sans-serif;
  height: 100vh;
}
