.backButtonToMainPage {
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    background-color: gray;
    opacity: 0.5;
    color: white;
    transition: opacity 1s;
    width: 150px;
    margin-bottom: 100px;
  }
  
.backButtonToMainPage:hover, .backButtonToMainPage:active {
    opacity: 1;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: space-between; */
}

.listItem {
    width: 520px;
    height: 300px;
    padding: 10px;
    background-color: rgb(170, 170, 199);
    margin-bottom: 15px;
    flex-basis: 25%;
    border-radius: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.backToTopButton {
    position: fixed;
    opacity: 0.5;
    top: 70%;
    right: 5%;
    height: 100px;
    width: 100px;
    font-size: 26px;
    border-radius: 50%;
    transition: opacity 0.25s ease-in;
    cursor: pointer;
}

.backToTopButton:hover {
    opacity: 1;
}
