.textBox {
    width: 100vh;
    height: 55vh;
    border-radius: 5px;
}

.diaryEntryFormStart {
    position: relative;
    animation: animateFromTopToMiddle 1s ease forwards;
}

@keyframes animateFromTopToMiddle {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 5%;
      opacity: 1;
    }
}

.diaryEntryFormEnd {
    position: relative;
    animation: animateFromMiddleToBottom 1s ease forwards;
}

@keyframes animateFromMiddleToBottom {
    from {
      top: 5%;
      opacity: 1;
    }
    to {
      top: 10%;
      opacity: 0;
      display: none;
    }
}

.submitButton {
  border-radius: 5px;
  margin-top: 10px;
  font-size: 15px;
  background-color: green;
  opacity: 0.5;
  color: white;
  transition: opacity 1s;
  width: 150px;
}

.submitButton:hover, .submitButton:active {
  opacity: 1;
}

.backButton {
  border-radius: 5px;
  margin-top: 5px;
  font-size: 15px;
  background-color: gray;
  opacity: 0.5;
  color: white;
  transition: opacity 1s;
  width: 150px;
}

.backButton:hover, .backButton:active {
  opacity: 1;
}