.container {
    margin: 0 auto;
    display: flex;
}
.leftContainer {
    max-width: 40%;
    margin-left: 10%;
}
.firstParagraph {
    font-size: 20px;
    display: inline-block;
    position: relative;
}
.firstParagraph::before {
    content: 'Time to log in and start writing!';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}
.firstParagraph:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.diaryGifContainer {
    overflow: hidden;
}

.diaryGif {
    margin-top: 35px;
    transition: transform .5s ease;
}

.diaryGif:hover {
    transform: scale(1.5);
}

.sunnyMessage {
    position: absolute;
    top: 120px;
    right: -190px;
    transition: all 2s ease;
}

.sunnyMessageHover {
    position: absolute;
    right: 20%;
    top: 120px;
    transition: all 2s ease;
}

.sunGifBefore {
    width: 200px;
    position: absolute;
    right: 0;
}

.sunGifAfter {
    width: 200px;
    position: absolute;
    right: 40%;
}


.sunGifActive {
    animation: moveSunGif 2s ease forwards;
}

.sunGifInactive {
    animation: returnSunGif 2s ease forwards;
}

@keyframes moveSunGif {
    100% {right: 40%;}
}

@keyframes returnSunGif {
    100% {right: 0;}
}

.rightContainer {
    width: 60%;
    background-color: white;
}

.signUpParagraph {
    font-size: 20px;
    position: relative;
    float: left;
    margin-left: 75px;
    margin-top: 20px;
    cursor: pointer;
}
.signUpParagraph::before {
    content: 'Click here to sign up!';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}
.signUpParagraph:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    text-decoration: underline;
}

.loginParagraph {
    font-size: 20px;
    position: relative;
    float: left;
    margin-left: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.loginParagraph::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.loginParagraph:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}